.hidden {
    display: none;
}

.question-result-span {
    display: inline-block;
    padding: 0.5em;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.question-result-correct {
    color: darkgreen;
    background-color: palegreen;
    border-color: darkgreen;
}

.question-result-incorrect {
    color: firebrick;
    background-color: rgba(255, 0, 0, 0.2);
    border-color: firebrick;
}