:root {
    --color-light: lemonchiffon;
    --color-active: khaki;
    --color-dark: darkgoldenrod;
}

html {
    background-color: lightyellow;
}

body {
    /* there's not really enough content to spread out farther than this */
    max-width: 40em;
    margin: auto;
}

.hidden {
    display: none;
}

button {
    background-color: var(--color-light);
    border: 2px solid var(--color-dark);
    padding: 0.75em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-active);
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em;
}

header h1 {
    text-align: center;
}

main {
    padding: 1em;
}

/* quiz screen styles */
#quizRoot {
    display: flex;
    flex-direction: column;
    gap: 1em;
    counter-reset: multiple-choice;
}

/* the ol and li elements are semantic */
#quizRoot ol {
    display: contents;
}

#quizRoot li {
    display: contents;
}

#quizRoot button {
    text-align: left;
}

/* insert a counter of the form a), b), c), etc. */
#quizRoot button::before {
    counter-increment: multiple-choice;
    content: counter(multiple-choice, lower-alpha) ") ";
}

/* the result of the previous question/answer */
.question-result {
    padding: 0.5em;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.question-result-correct {
    color: darkgreen;
    background-color: palegreen;
    border-color: darkgreen;
}

.question-result-incorrect {
    color: firebrick;
    background-color: rgba(255, 0, 0, 0.2);
    border-color: firebrick;
}

/* high score screen styles */
#highScoresRoot {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#highScoresRoot h2 {
    text-align: center;
}

/* show the scores list in a grid:
 * rank, name, score */
#highScoresRoot ol {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 0.5em;
}

#highScoresRoot li {
    display: contents;
}

#highScoresRoot li span {
    text-align: right;
    padding: 0 1em;
}

/* the most recently added score is highlighted */
#highScoresRoot li.highlighted span {
    padding: 0.5em 1em;
    background-color: var(--color-active);
    border-top: 2px solid var(--color-dark);
    border-bottom: 2px solid var(--color-dark);
}

#highScoresRoot li.highlighted span:first-child {
    border-left: 2px solid var(--color-dark);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#highScoresRoot li.highlighted span:last-child {
    border-right: 2px solid var(--color-dark);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* results screen styles */
#resultsRoot {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

/* this can't be display: contents, or else .hidden doesn't work */
#resultsRoot form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* the full selector is needed (as opposed to just .hidden) because of #resultsRoot in the above rule */
#resultsRoot form.hidden {
    display: none;
}

#nameGroup {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

#nameGroup input {
    padding: 0.75em;
    background-color: whitesmoke;
    border: 2px inset var(--color-dark);
    border-radius: 5px;
}

@media (min-width: 22em) {
    #nameGroup {
        flex-direction: row;
        align-items: center;
    }

    #nameGroup input {
        flex: 1;
    }
}